.main {
    width: 100%;
    float: left;
    margin: auto;
    padding: 30px;
  }
  
  .left-panel {
    max-height: calc(100vh - 100px);
    height: 100%;
    overflow: auto;
    width: 240px;
    background-color: #1f2426;
    color: #fff;
    float: left;
    position: fixed;
    left: 0;
    top: 85px;
    bottom: 0px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .right-panel {
    min-height: calc(100vh - 100px);
    margin-left: 240px;
    position: relative;
    top: 100px;
  }
  
  .right-panel-full {
    min-height: calc(100vh - 140px);
  }
  

  